
.status-bar{
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    background-color: white;
    z-index: 1;
}
.status-bar__column{
    width: 33%;
}
.status-bar__column:first-child span{
    margin-right: 3px;
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}
.status-bar__column:nth-child(3){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-full{
    margin: 0px 3px;
}
.welcome-header{
    margin: 90px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
} 
.welcome-header__title{
    margin-bottom: 20px;
    font-size: 25px;
}
.welcome-header__text{
    width: 50%;
    opacity: 0.7;
}
#login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
 }
#login-form input:not([type="submit"]) {
    transition: border-color 0.3s ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
 #login-form input{
    padding: 15px 0px;
    border: none;
    margin-bottom: 25px;
 }
 #login-form input::placeholder{
    color: rgba(0, 0, 0, 0.4);
 }
 #login-form input:focus{
    border-color: var(--yellow);
 }
 #login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: pointer;
    font-size: 15px;
    padding: 20px 0px;
    border-radius: 5px;
 }
 #login-form a{
    text-align: center;
    text-decoration: none;
    color: inherit;
 }